<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="5" name="tests">
<parameter name="browser" value="chrome"></parameter>
<classes>
<class name="abc.NewTest"/>
</classes>
</test>
<test name="chromeTest">
  </test> <!-- Test -->
<parameter name="browser" value="firefox"></parameter>
<classes>
<class name="abc.NewTest"/>
</classes>

<test name="firefoxTest"></test>
</suite> <!-- Suite -->
